@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

html{
    background: url("/../img/IMAGE.png") no-repeat top center;
    /*background-size: cover;*/
    /*background-size: 100% 30%;*/
}
.body{
    margin: 0   auto;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
}
.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px gray;
}

.header {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 60px 0 40px;

}

.footer {
    text-align: center;
}

.sidebarHeader {
    font-size: 20px;
}

.sidebar ul {
    padding-left: 20px;
}
a{
    text-decoration: none;

}
a, a:visited {
    /*color: #384038;*/
}

.header_h1{
    margin: 40px;
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;

}
.nav,li > a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nav,li > a:hover{
    color: black;
 }
nav,li > a:hover::before{
    display: inline-block;
    content: '';
}
.main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
img {
    vertical-align: middle;
}

.footer{
    padding: 20px;
    background-color: #000;
    color: #FFFFFF;
}
.footer > p{
    padding-top: 50px;
}
.preview{
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
    max-width: 500px;
}
.preview > figure{
    padding: 20px;
}
.card{
    display: flex;
    flex-direction: column;
}
.card-img{
    position: relative;
}
.card-image-background{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.card-theme{
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #FFFFFF;
    z-index: 2;
}
.card-theme::before{
   content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: -14px;
    width: 84px;
    height: 36px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
}
.card-h2{
    display: inline-block;
    position: absolute;
    top: 72%;
    left: 10%;
    font-weight: lighter;
    font-size: 36px;
    color: #FFFFFF;
}
.profile-data{
    display: flex;
    position: absolute;
    font-weight: lighter;
    top: 50%;
    left: 10%;
    color: #FFFFFF;
}
.profile-data-info{
    margin: 0 0 0 20px;
}
.profile-data-info p{
    padding: 0 0 5px;
}
.card-text{
    background-color: #FFFFFF;
    padding: 35px 60px ;
}

.card-text a{
    display: inline-block;
    padding: 15px 0 0;
    color: #7f11e7;
}
.card-edit{
    position: relative;
}
.card-edit-a{
    position: absolute;
    right: 26px;
    top: -52px;
    color: #fff;
    background-color: rgba(19, 70, 16, 0.8);
    padding: 15px 20px;
    border-radius: 10px;
}
.card-edit-a:hover{
    box-shadow: 0 0 5px rgb(19, 70, 16);

}

.read_more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333333;
    margin-bottom: 70px;
    /*width: 800px;*/
    height: 210px;
    background: #F1F1F1;
    border-radius: 0;
}
.read_more > h3{
    padding: 50px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.read_more > a{
    text-align: center;
}
